{% extends "base_generic.html" %}

{% block content %}
    <h5>Rooms:</h5>
    {% if latest_room_list %}
        <ul>
        {% for room in latest_room_list %}
            <li><a href="{% url 'chatapp:room' room.id %}">{{ room.room_name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No rooms are available.</p>
    {% endif %}

    <h5>Create Room</h5>
    <form action="{% url 'chatapp:create' %}" method="post">
    {% csrf_token %}
    <fieldset>
        {% if error_message %}
            <div class="alert alert-warning" role="alert">{{ error_message }}</div>
        {% endif %}
        <div class="form-group">
            <label for="room-name">Name</label>
            <input class="form-control" id="room-name" aria-describedby="room-name" name="room_name">
        </div>
    </fieldset>
    <input type="submit" class="btn btn-dark" value="Create">
    </form>
{% endblock %}